<div class="h-screen bg-blue-700 text-white flex justify-center items-center">
  <div class="flex flex-col items-center text-center space-y-5">
    <img src="assets/profile_pic_blue.png" class="rounded-full h-36 w-36">
    <h2 class="text-5xl font-pacifico">{{'Deepak K J'}}</h2>
    <div>
      <p class="text-2xl ">WEB AND MOBILE</p>
      <p class="text-2xl ">APPLICATION DEVELOPER</p>
    </div>
    <ul class="flex justify-center flex-wrap space-x-5">
      <li *ngFor="let option of techList">{{option}}</li>
    </ul>
    <div class="border-t border-white h-1 w-1/2"></div>
    <div (click)="telephoneLink.click()"
      class="flex flex-wrap cursor-pointer space-x-4 sm:space-x-8 w-3/4 border rounded-md bg-white text-blue-700 px-4 sm:px-8 py-2">
      <fa-icon [icon]="faPhoneAlt"></fa-icon>
      <p class="text-right">+91 8296771595</p>
      <a #telephoneLink href="tel:+918296771595" class="hidden"></a>
    </div>
    <div (click)="mailLink.click()"
      class="flex flex-wrap cursor-pointer space-x-4 sm:space-x-8 w-3/4 border rounded-md bg-white text-blue-700 px-4 sm:px-8 py-2">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <p>kjdeepak4work@gmail.com</p>
      <a #mailLink href="mailto:kjdeepak4work@gmail.com" class="hidden"></a>
    </div>
    <ul class="flex justify-center flex-wrap space-x-5">
      <li *ngFor="let option of socialMediaList">
        <fa-icon [icon]="option.icon" [title]="option.socialPlatformName"
          (click)="openSocialMediaLinkOnNewPage(option.socialPlatformUrlLink)" class="cursor-pointer fa-2x"></fa-icon>
      </li>
    </ul>
  </div>
</div>